@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding: 20px;

}

nav a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    border-bottom: 1px solid transparent;
}
nav a:hover{
    border-bottom: 1px solid rgb(255, 0, 0);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 40px;
    width: 100%;
    justify-content: center;

}

.box {
    border: 1px solid rgba(255, 0, 0,0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 9px;
    gap: 8px;

}
.box span,p{
    font-weight: 400;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
    width: 100%;
    border-radius: 5px;
}
.hd{
    padding-left: 6%;
    font-size: 28px;
    font-weight: bolder;
    margin: 30px 0px 20px 0px;
}
.hd span{
    font-size: 32px;
    font-weight: 700;
    color: gray;
    border-bottom: 3px solid red;
}

/* viewpage */
.section{
    display: flex;
    margin: auto;
    gap: 15px;
    width: 70%;
    border-radius: 10px;
    border: 1px solid rgb(253, 68, 68);
    margin-top: 3%;
    height: 40%;
    padding: 20px;
    
}

h4{
    font-size: 28px;
    font-weight: 500;
}
h5{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    color: gray;
}
