@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto",sans-serif ;
}

.navbar-top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
}
.logo img{
    width: 150px;
    text-decoration: none;
}
.navbar-top-ls{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 50%;
}
.navbar-top-rs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navbar-top-rs select{
    outline: none;
    border: none;
}
.signin{
    background-color: red;
    padding: 7px;
    outline: none;
    border: none;
    color: #F5F5F5;
    font-weight: 500;
    border-radius: 5px;
    width: 70px;
}
.menu-btn{
    font-size: 28px;
}
input{
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
    outline: none;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #F5F5F5;
}
.add-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #ffe8e6;
}
/* From Uiverse.io by Yaya12085 */ 
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    border-radius: calc(50px/2);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: linear-gradient(144deg,#ff0000,#f35742 50%,#ff4f4f);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    font-size: 2.2em;
    color: white;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 145px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 15px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 15px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }


.datas{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,17%);
  justify-content: center;
  gap: 30px;
}
.box{
  width: 100%;
}
.thumbnail{
  width: 100%;
}
.thumbnail img{
  width: 100%;
  margin-bottom: 5px;
}

.bottom-text h4{
  font-size: 16px;
  color: gray;
  font-weight: normal;
  line-height: 1.5;

}
  